---
title: Middleman Skeleton
description: A Middleman skeleton using HTML 5, HAML, SASS, Twitter Bootstrap, React JS with JSX
---


.container
  .page-header
    %h1 Welcome

  .jumbotron
    #react-content